#oaedForm #triangle {
    width: 100%;
    height: 100%;
    background-color: #1E3932;
    background-image: -webkit-linear-gradient(top, #194536, #077344);
    background-size: cover;
    
    clip-path: polygon(0 0, 25% 0, 75% 100%, 0% 100%);
  }
  #oaedForm .over{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 140px;
    padding-right: 140px;
}

#oaedForm .backgrnd{
  width: 100%; 
  height: 800px; 
  position: relative
}


#oaedForm #txt{
  font-Size: 36px; 
  font-Weight: 600; 
  color: white; 
  display: block
}


  @media (max-width: 1200px) {
  
    #oaedForm .over{
      padding-left: 0px;
      padding-right: 0px;
    }
    #oaedForm .backgrnd{
      height: 1100px;
    }
    #oaedForm #txt{
      color: #D2A04B
    }
  }